commonDefine.js
*.iml
.svn
.DS_Store
*.pdb
.classpath
.project
.settings
target
META-INF
*.rar
*.userprefs
bin
server/BankDemo/
server/BankDemo_new/
*.xls
*.xlsx
*.doc
*.docx
build
log4j.properties
application.properties
jetty.xml
test.properties
freemarker.properties
.idea
Thumbs.db
*.css.map
test-output
logs
.externalToolBuilders
